<div class="modal-content">
    <div class="modal-header">
        <h4>{{titulo}}</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" autocomplete="off" class="full-width">
            <label for="nombre">Nombre</label>
            <input class="full-width" name="nombre" formControlName="nombre" type="text" autocomplete="off" />
            <span *ngIf="mostrarError('nombre')" class="warn">Campo obligatorio</span>

            <label for="fechaNac">Fecha de nacimiento</label>
            <input class="full-width" name="fechaNac" formControlName="fechaNac" type="date" autocomplete="off" />
            <span *ngIf="mostrarError('fechaNac')" class="warn">Campo obligatorio</span>


            <label for="direccion">Dirección</label>
            <input class="full-width" name="direccion" formControlName="direccion" type="text" autocomplete="off" />
            <span *ngIf="mostrarError('direccion')" class="warn">Campo obligatorio</span>

            <label for="ciudad">Ciudad</label>
            <select id="Ciudad" class="full-width" formControlName="idCiudad">
                <option *ngFor="let ciudad of ciudades" [ngValue]="ciudad.idCiudad">
                    {{ ciudad.nombre }}
                </option>
            </select>
            <span *ngIf="mostrarError('idCiudad')" class="warn">Campo obligatorio</span>
            <input type="file" name="upload" accept="application/pdf" size="1024"/>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">Cancelar</button>
        <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="apply()">Pedir</button>
    </div>
</div>